@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
/**
*
* Testing
*
**/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: #ffffff;
  border-left: 0 solid #ffffff;
  border-right: 0 solid #ffffff;
  margin-block: 3px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcb72b;
  width: 15% !important;
  height: 15% !important;
  border-radius: 50px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-moz-selection {
  /* code for firefox */
  color: #ffffff;
  background-color: #fcb72b;
}

::selection {
  /* code for firefox */
  color: #ffffff;
  background-color: #fcb72b;
}

/* end variables */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*small*/
  /* tablet */
  /* Medium */
  /* desktop  */
}
@media (min-width: 577px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1170px;
  }
}

/*! start variables*/
/*! end variables*/
/*! start Global Rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  line-height: 1.5625rem; /* 166.667% */
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-family: "Space Mono", monospace;
}

.listed .container .btn-list, header .container nav .btn-nav, header .container nav .card .btn-nav {
  display: block;
  border: none;
  outline-style: none;
  width: 12.1875rem;
  height: 3.3125rem;
  background: #fcb72b;
  padding: 0 0.875rem;
  transition: 1s;
}
.listed .container .btn-list a, header .container nav .btn-nav a, header .container nav .card .btn-nav a {
  width: 6.22919rem;
  color: #fff;
  font-family: Space Mono;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  white-space: nowrap;
  transition: 1s;
}
.listed .container .btn-list:hover, header .container nav .btn-nav:hover {
  border: 3px solid #fcb72b;
  background: transparent;
  cursor: pointer;
  transition: 1s;
}
.listed .container .btn-list:hover a, header .container nav .btn-nav:hover a {
  color: #fcb72b;
}
@media (max-width: 768px) {
  .listed .container .btn-list, header .container nav .btn-nav, header .container nav .card .btn-nav {
    width: 11.25rem;
    height: 3.125rem;
  }
  .listed .container .btn-list a, header .container nav .btn-nav a, header .container nav .card .btn-nav a {
    font-size: 0.875rem;
  }
}

.footer .container .content ul, header .container nav .card ul, header .container nav .cont-left ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}
.footer .container .content ul li a, header .container nav .card ul li a, header .container nav .cont-left ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #939caa;
  font-size: 0.9375rem;
  font-family: Space Mono;
  font-weight: 700;
}
.footer .container .content ul li:hover, header .container nav .card ul li:hover, header .container nav .cont-left ul li:hover {
  cursor: pointer;
}
.footer .container .content ul li:hover a, header .container nav .card ul li:hover a, header .container nav .cont-left ul li:hover a {
  color: #fcb72b;
}
@media (max-width: 768px) {
  .footer .container .content ul, header .container nav .card ul, header .container nav .cont-left ul {
    gap: 1rem;
  }
  .footer .container .content ul li a, header .container nav .card ul li a, header .container nav .cont-left ul li a {
    font-size: 0.875rem;
  }
}
@media (max-width: 540px) {
  .footer .container .content ul, header .container nav .card ul, header .container nav .cont-left ul {
    gap: 0.5rem;
  }
}
@media (max-width: 480px) {
  .footer .container .content ul, header .container nav .card ul, header .container nav .cont-left ul {
    display: none;
  }
}

/*! end Global Rules*/
/*! start code */
/*! start loader */
.loader {
  background-color: #fff;
  display: block;
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  animation: removed 1s cubic-bezier(0, 0, 1, 1) 4s forwards;
}
.loader .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.75rem;
  position: relative;
  top: 40%;
}
.loader .container img {
  width: 12.5rem;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  animation-iteration-count: infinite;
}
.loader .container .balls {
  width: 5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.loader .container .balls div {
  width: 1.125em;
  height: 1.125em;
  border-radius: 50%;
  background-color: #fcb72b;
  transform: translateY(-100%);
  animation: wave 0.8s ease-in-out alternate infinite;
}
.loader .container .balls div:nth-of-type(1) {
  animation-delay: -0.4s;
}
.loader .container .balls div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes removed {
  from {
    display: block;
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
  to {
    display: none;
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
  }
}
@keyframes wave {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
/*! start header */
header {
  padding: 1.25rem 0;
}
header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
header .container nav .icons {
  display: none;
}
header .container nav .icons .hamburger,
header .container nav .icons .close {
  display: none;
}
header .container nav .cont-left {
  display: flex;
  align-items: center;
  gap: 4rem;
}
header .container nav .cont-left .logo {
  width: 6.73856rem;
  height: 1.785rem;
}
header .container nav .card {
  display: flex;
  gap: 0.75rem;
}
header .container nav .card .btn-nav {
  width: 8.25rem;
}
@media (max-width: 768px) {
  header .container {
    width: initial;
    padding-left: 30px;
  }
  header .container nav .cont-left {
    gap: 3rem;
  }
  header .container nav .cont-left .logo {
    width: 6.25rem;
  }
}
@media (max-width: 540px) {
  header .container {
    padding-left: 15px;
  }
  header .container nav {
    gap: 0.875rem;
  }
  header .container nav .cont-left {
    gap: 0.875rem;
  }
}
@media (max-width: 480px) {
  header .container nav {
    justify-content: center;
    position: relative;
  }
  header .container nav .icons {
    display: block;
  }
  header .container nav .icons .hamburger,
  header .container nav .icons .close {
    position: absolute;
    left: 10px;
    top: 8px;
    cursor: pointer;
  }
  header .container nav .icons .hamburger {
    display: block;
  }
  header .container nav .cont-left .logo {
    width: 5.625rem;
  }
  header .container nav .btn-nav {
    display: none;
  }
  header .container nav .bg-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.404);
    position: fixed;
    top: 4.375rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  header .container nav .bg-card .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333a44;
    width: 16rem;
    height: inherit;
    padding: 3.75rem 1.875rem 6.25rem;
    gap: 1.875rem;
  }
  header .container nav .bg-card .card ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
  header .container nav .bg-card .card ul li a {
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    color: #e5ecf4;
    font-size: 1.125rem;
    font-family: Space Mono;
    font-weight: 700;
  }
  header .container nav .bg-card .card ul li a:hover {
    color: #fcb72b;
  }
  header .container nav .bg-card .card .btn-nav {
    display: block;
    width: 11.25rem;
  }
}

/*! start basic-title */
.locations {
  display: block;
  background-size: cover;
  padding: 2.5rem 0;
  height: 9rem;
  overflow: hidden;
  position: relative;
}
.locations::after {
  content: "";
  display: block;
  width: 11.375rem;
  height: 3.75rem;
  background: url(../images/patterns/white-circles.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 3rem;
  right: -2rem;
}
.locations .container p {
  color: #fff;
  font-family: Space Mono;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 3.5rem; /* 100% */
  letter-spacing: -0.15625rem;
}
@media (max-width: 768px) {
  .locations {
    background-size: cover;
    padding: 4.5rem 0;
    height: 12rem;
  }
  .locations::after {
    top: 5rem;
  }
}
@media (max-width: 480px) {
  .locations {
    background-size: cover;
  }
  .locations::after {
    display: none;
  }
  .locations .container {
    text-align: center;
  }
}

/*! start similar */
/*! start similar-row */
/*! start triple-circle */
/*! start Sign-up */
.Sign-up {
  background-color: #495567;
  padding: 3.75rem 0 5rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.Sign-up::after {
  content: "";
  display: block;
  width: 53.75rem;
  height: 14.375rem;
  background: url(../images/patterns/white-circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 7rem;
  right: -6rem;
  z-index: -1;
  opacity: 0.6;
}
.Sign-up .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Sign-up .container p {
  width: 25.9375rem;
  color: #fff;
  font-family: Space Mono;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem; /* 100% */
  letter-spacing: -0.13394rem;
}
.Sign-up .container .images-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.125rem;
}
@media (max-width: 768px) {
  .Sign-up::after {
    top: 14rem;
  }
  .Sign-up .container {
    flex-direction: column;
    gap: 3.5rem;
  }
  .Sign-up .container p {
    margin: auto;
    width: initial;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .Sign-up .container p {
    font-size: 2rem;
    line-height: 2rem; /* 100% */
    letter-spacing: -0.08931rem;
  }
  .Sign-up .container .images-buttons img {
    width: 9rem;
    height: 3.125rem;
  }
}

/*! start footer */
.footer {
  background-color: #333a44;
  padding: 1.875rem 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .content {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.footer .container .content .logo-footer path {
  fill: #fff;
}
.footer .container .social {
  display: flex;
  align-items: center;
  gap: 1.125rem;
}
.footer .container .social .facebook:hover,
.footer .container .social .twitter:hover,
.footer .container .social .instagram:hover {
  cursor: pointer;
}
.footer .container .social .facebook:hover path,
.footer .container .social .twitter:hover path,
.footer .container .social .instagram:hover path {
  fill: #fff;
}
@media (max-width: 480px) {
  .footer {
    padding: 3.5rem 0;
  }
  .footer .container {
    flex-direction: column;
    gap: 1.875rem;
  }
  .footer .container .content {
    flex-direction: column;
    text-align: center;
  }
  .footer .container .content ul {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }
}

/*! end code */
/*! start code */
/*! start loader */
.loader {
  display: block;
  animation: removed 1s cubic-bezier(0, 0, 1, 1) 2s forwards;
}

/*! start locations */
.locations {
  display: block;
  background: url(../images/careers/careers-locations-hero-desktop.jpg) no-repeat;
}
@media (max-width: 768px) {
  .locations {
    background: url(../images/careers/careers-locations-hero-tablet.jpg) no-repeat;
  }
}
@media (max-width: 480px) {
  .locations {
    background: url(../images/careers/careers-location-hero-mobile.jpg) no-repeat;
    background-size: cover;
  }
}

/*! start places */
.places {
  display: block;
}
.places .container {
  display: block;
}
.places .container picture {
  display: block;
  position: relative;
  margin: 8rem auto;
}
.places .container picture .map-desktop {
  width: 60rem;
  height: auto;
  margin: auto;
}
.places .container picture .map-tablet,
.places .container picture .map-mobile {
  display: none;
  margin: auto;
}
.places .container .map-list {
  position: relative;
  list-style-type: none;
}
.places .container .map-list .map-item {
  background-color: #fcb72b;
  position: absolute;
  text-align: center;
  padding: 0.75rem;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 65% 75%, 50% 100%, 35% 75%, 0% 75%);
  height: 4rem;
  width: 7rem;
  color: #495567;
  text-align: center;
  font-family: Space Mono;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem; /* 116.667% */
  letter-spacing: -0.06694rem;
}
.places .container .map-list .new-york {
  top: -33rem;
  left: 9.25rem;
}
.places .container .map-list .london {
  top: -36.5rem;
  left: 23rem;
}
.places .container .map-list .jakarta {
  top: -23.375rem;
  left: 44rem;
}
.places .container .map-list .yokohama {
  top: -33rem;
  left: 48rem;
}
@media (max-width: 999px) {
  .places .container picture .map-desktop {
    width: 46rem;
  }
  .places .container .map-list .new-york {
    top: -28rem;
    left: 6.25rem;
  }
  .places .container .map-list .london {
    top: -31rem;
    left: 17rem;
  }
  .places .container .map-list .jakarta {
    top: -22rem;
    left: 32rem;
  }
  .places .container .map-list .yokohama {
    top: -28rem;
    left: 36rem;
  }
}
@media (max-width: 768px) {
  .places .container picture {
    margin: 6rem auto;
  }
  .places .container picture .map-desktop,
  .places .container picture .map-mobile {
    display: none;
  }
  .places .container picture .map-tablet {
    display: block;
    width: 32rem;
  }
  .places .container .map-list .map-item {
    width: 6rem;
    font-size: 0.875rem;
  }
  .places .container .map-list .new-york {
    top: -23rem;
    left: 3.25rem;
  }
  .places .container .map-list .london {
    top: -24.75rem;
    left: 11rem;
  }
  .places .container .map-list .jakarta {
    top: -18rem;
    left: 22rem;
  }
  .places .container .map-list .yokohama {
    top: -13.875rem;
    left: 26.5rem;
  }
}
@media (max-width: 550px) {
  .places .container picture {
    margin: 4rem auto;
  }
  .places .container picture .map-desktop,
  .places .container picture .map-tablet {
    display: none;
  }
  .places .container picture .map-mobile {
    display: block;
    width: 28rem;
  }
  .places .container .map-list {
    margin-bottom: 4rem;
  }
  .places .container .map-list .map-item {
    position: relative;
    background-color: #fff4df;
    width: initial;
    clip-path: none;
    font-size: 1.5rem;
    margin: 1.125rem auto;
    padding: 1.75rem;
    font-size: 1.5rem;
    height: auto;
  }
  .places .container .map-list .new-york,
  .places .container .map-list .london,
  .places .container .map-list .jakarta,
  .places .container .map-list .yokohama {
    top: 0rem;
    left: 0rem;
  }
}
@media (max-width: 480px) {
  .places .container picture .map-mobile {
    width: 19rem;
  }
}

/*! start places */
.listed {
  margin: auto auto 4rem;
}
.listed .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.125rem;
}
.listed .container .title {
  color: #495567;
  max-width: 20rem;
  font-family: Space Mono;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem; /* 100% */
  letter-spacing: -0.13394rem;
}
.listed .container .subtitle {
  color: #939caa;
  max-width: 27rem;
  font-family: Lexend Deca;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem; /* 166.667% */
}
@media (max-width: 999px) {
  .listed .container .subtitle {
    max-width: 20rem;
  }
}
@media (max-width: 768px) {
  .listed .container {
    flex-direction: column;
  }
  .listed .container .title,
  .listed .container .subtitle {
    text-align: center;
    max-width: initial;
  }
}

/*! end code *//*# sourceMappingURL=locations.css.map */